@using BlazorStyled

<Styled @bind-Classname=@ImageContainerStyle>
    position: @Position;
    left: @LeftStyle;
    top: @TopStyle;
    z-index: @ZIndex;
    display: inline-block;
    outline: none;
    border: none;
    width: auto;
    margin: 0px;
    padding: 0px;
    visibility: @Visibility;
</Styled>
<Styled @bind-Classname=@ImageStyle>
    background-image: url('@ImageUrl');
    background-size: 100% 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    outline: @OutlineStyle;
    border: @BorderStyle;
    background-repeat: no-repeat;
    background-color: transparent;
    width: @WidthStyle;
    height: @HeightStyle;
    white-space: nowrap;
    vertical-align: central;
    margin: 0px;
    padding: 0px;
</Styled>
<Styled @bind-Classname=@ImageTextStyle>
    position: @Position;
    left: @TextOffsetXStyle;
    top: @TextOffsetYStyle;
    text-align: @TextAlign;
    font-family: @FontName;
    font-size: @FontSizeStyle;
</Styled>

<div class="@ImageContainerStyle @ClassName">
    <img class="@ImageStyle" />
    <span class="@ImageTextStyle">@Text</span>
</div>