@using BlazorStyled

<Styled @bind-Classname="ButtonContainerStyle">
    position: relative;
    left: @LeftStyle;
    top: @TopStyle;    
    z-index: @ZIndex;   
    display: @VisibleStyle;
    outline: none;
    border: none;
</Styled>
<Styled @bind-Classname="ButtonStyle">
    background-image: url('@ImageUrl');    
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;    
    background-repeat: no-repeat;
    background-color: transparent;    
    width: @WidthStyle;
    height: @HeightStyle;
    white-space: nowrap;
    font-size: @TextSizeStyle;
    vertical-align: central;
</Styled>
<Styled @bind-Classname="ButtonStyleHover" PseudoClass="PseudoClasses.Focus">
    outline: none;
    border: none;
</Styled>
<Styled @bind-Classname="ButtonTextAlignStyle">
    text-align: @ButtonTextAlign;
</Styled>

<div class="imagebuttoncontainer @ButtonContainerStyle @ButtonStyleHover">
    <button class="@ButtonStyle @ButtonStyleHover" @onclick="ButtonClicked">
        <span class="@ButtonTextAlignStyle">@ButtonText</span>
    </button>    
</div>