@using BlazorStyled

<Styled @bind-Classname="@TextColorStyle">
    color: @TextColor;
</Styled> 

@if  (Visible)
{  
    <div class=@ProgressStyle>
        <span class="@TextColorStyle">@PercentString</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
}

