@using BlazorStyled

<Styled @bind-Classname="@SpriteStyle">
    background-image: url('@ImageUrl');
    width: @WidthStyle;
    height: @HeightStyle;
    position: @Position;
    top: @YPositionStyle;
    left: @XPositionStyle;
    transform: scale(@Scale);
    transform-origin: left;
    display: @Display;
    opacity: @Opacity;
</Styled>

<div class="@SpriteStyle">
    
</div>