@using DataJuggler.UltimateHelper.Core
@implements IDisposable
@inject Services.SubscriberService SubscriberService

@if (HasUser)
{
    @if (Connected)
    {
        <div class="chatroom2">
                      
        </div>
        <div class="whoseonlist">            
            @if (ListHelper.HasOneOrMoreItems(Names))
            {  
                @foreach (string name in Names)
                {
                    <button class="listbutton">@name</button><br />
                }
            }
            <textarea class="typedtext" @bind="MessageText"></textarea>
            <button class="greenbutton8" @onclick="BroadCastMessage">Broadcast</button>
            <div class="privatemessageinfo">
                Click a name to send<br /> a private message.
            </div>
        </div> 
    }
    else
    { 
        <div id="ChatRoom" class="chatroom">
            Enter Chat<br />
            <input type="text" @bind="SubscriberName" /><br />
            <button class="greenbutton6" @onclick="@RegisterWithServer">Connect</button>
        </div>    
    }
}
else
{
    <div>
        Join as Guest<br />
        <input type="text" @bind="Name" />
    </div>
    <button class="greenbutton7" @onclick="@JoinAsGuest">Join</button>
}


