@page "/"
@using BlazorStyled
@using DataJuggler.Blazor.Components
@using DataJuggler.Blazor.Components.Interfaces
@using DataJuggler.Blazor.Components.Enumerations;

<div class="height200">
    <h2>Small Progress Sample</h2>

    <button class="blackbutton" @onclick="StartProgress">Start</button>

    <div class="progresscontainer">
        <ProgressBar Increment="2" Interval="25" Visible="@ShowProgress"
            Theme=ThemeEnum.Dark ClientHandledIncrement="false" Size=SizeEnum.Small
            OverrideThemeColorForText="true" Scale="1" Subscriber=this TextColor="white"
            Color=ColorEnum.Orange CloseAtExtraPercent="12">
        </ProgressBar>
    </div>
</div>


